{% extends 'base.html' %}

{% block content %}
    <main class="order-delivered  default space-top-30">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-12 order-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <header class="card-header">
                                <h3 class="card-title"><span>کیف پول</span></h3>
                            </header>
                            <div class="content-section default">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <div class="shadow-around">
                                            <div class="listing-items row">
                                                <div class="m-0 rounded text-center m-auto"
                                                     role="alert">
                                                    <h4 class="alert-heading">کاربر: {{ credit.user.full_name }}</h4>
                                                    <h4 class="alert-heading">مبلغ: {{ credit.price }}</h4>
                                                    <a href="{% url 'accounts:user_add_money_send_request' credit.user.id credit.price %}"
                                                       class="btn btn-success">پرداخت</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'accounts/profile/sidebar.html' %}
            </div>
        </div>
    </main>
{% endblock %}