{% load static humanize %}
<div class="custom-filter d-lg-none d-block">
    <button class="btn btn-filter-float border-0 main-color-two-bg shadow-box px-4 rounded-3 position-fixed"
            style="z-index: 999;bottom:80px;" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <i class="bi bi-list font-20 fw-bold text-white"></i>
        <span class="d-block font-14 text-white">منو</span>
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight"
         aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">منو</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="panel-side">
                <div class="content-box pb-0">
                    <div class="container-fluid">
                        <div class="panel-box">
                            <div class="d-flex align-items-center">
                                <img src="




                                        {% if request.user.image %}{{ request.user.image.url }}{% else %}{% static 'image/user.png' %}{% endif %}"
                                     class="img-fluid img-profile-panel rounded-circle me-3 shadow-md" alt="">
                                <div class="d-grid gap-2">
                                    <h6 class="font-14 main-color-one-color">حساب کاربری من</h6>
                                    <h6 class="font-14">{{ request.user.full_name }}</h6>
                                    <h6 class="font-14 main-color-three-color">
                                        <i class="bi bi-credit-card main-color-two-color"></i>
                                        اعتبار: {{ request.user.credit|intcomma:False }} تومان
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="profile-box">
                            <nav class="navbar profile-box-nav">
                                <ul class="navbar-nav flex-column">
                                    {% with request.resolver_match.url_name as url_name %}
                                        <li class="nav-item {% if url_name == 'dashboard' %}active{% endif %}">
                                            <a href="{% url 'accounts:dashboard' %}" class="nav-link">
                                                <i class="bi bi-house-door"></i>پروفایل</a>
                                        </li>
                                        <li class="nav-item {% if url_name == 'order_list' %}active{% endif %}"><a
                                                href="{% url 'accounts:order_list' %}" class="nav-link">
                                            <i class="bi bi-cart-check"></i>تاریخچه سفارش های من
                                            {#                                    <span class="badge rounded-pill badge-spn">5</span>#}
                                        </a>
                                        </li>
                                        <li class="nav-item {% if url_name == 'ticket_list' %}active{% endif %}"><a
                                                href="{% url 'ticket:ticket_list' %}" class="nav-link">
                                            <i class="bi bi-question-circle"></i>درخواست پشتیبانی</a>
                                        </li>
                                        <li class="nav-item {% if url_name == 'paid_orders' %}active{% endif %}"><a
                                                href="{% url 'accounts:paid_orders' %}" class="nav-link">
                                            <i class="bi bi-check"></i>سفارش های پرداخت شده</a>
                                        </li>
                                        <li class="nav-item {% if url_name == 'favourite_product' %}active{% endif %}">
                                            <a
                                                    href="{% url 'accounts:favourite' %}" class="nav-link">
                                                <i class="bi bi-heart"></i>محصولات مورد علاقه من</a>
                                        </li>
                                        <li class="nav-item {% if url_name == 'create_credit' %}active{% endif %}"><a
                                                href="{% url 'accounts:create_credit' %}" class="nav-link">
                                            <i class="bi bi-credit-card"></i>افزایش اعتبار</a>
                                        </li>
                                        <li class="nav-item {% if url_name == 'profile_info' %}active{% endif %}"><a
                                                href="{% url 'accounts:profile_info' %}" class="nav-link">
                                            <i class="bi bi-person"></i>اطلاعات حساب</a>
                                        </li>
                                        <li class="nav-item {% if url_name == 'change_password' %}active{% endif %}"><a
                                                href="{% url 'accounts:change_password' %}" class="nav-link">
                                            <i class="bi bi-key"></i>تغییر رمز عبور</a>
                                        </li>
                                        <li class="nav-item"><a href="" class="nav-link">
                                            <i class="bi bi-arrow-right-square"></i>خروج از حساب کاربری</a>
                                        </li>
                                    {% endwith %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>