{% extends 'base.html' %}
{% load humanize thumbnail %}
{% block content %}
    <div class="container-fluid">
        <!-- start side-menu in mobile -->
        {% include 'accounts/profile/mobile_sidebar.html' %}
        <!-- end side-menu in mobile -->

        <div class="dashboard-panel">
            <div class="row gy-3">
                {% include 'accounts/profile/sidebar.html' %}
                <div class="col-lg-9">
                    <div class="ui-boxs">
                        <div class="ui-box">
                            <div class="ui-box-item ui-box-white">
                                <div class="ui-box-item-title" style="padding: 15px;">
                                    <h4 class="fw-bold">
                                        آخرین سفارش ها
                                    </h4>
                                </div>
                                <div class="ui-box-item-desc p-0">
                                    <div class="orders">
                                        {% for order in all_orders %}
                                            <div class="order-item">
                                                <div>
                                                    <div class="order-item-status">
                                                        <div class="order-item-status-item">
                                                            {% if order.is_paid %}
                                                                <p><i class="bi bi-hand-thumbs-up"></i>
                                                                    <span>پرداخت شده</span></p>
                                                            {% else %}
                                                                <p><i class="bi bi-hand-thumbs-down text-danger"></i>
                                                                    <span>پرداخت نشده</span></p>
                                                            {% endif %}
                                                        </div>
                                                        <div class="order-item-status-item">
                                                            <p><i class="bi bi-arrow-left pointer text-dark"></i>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="order-item-detail">
                                                        <ul class="nav">
                                                            <li class="nav-item text-muted">{{ order.jalali_created_date }}
                                                            </li>
                                                            <li class="nav-item">
                                                                <span class="text-mute">کد سفارش</span>
                                                                <strong>{{ order.order_code }}</strong>
                                                            </li>
                                                            <li class="nav-item">
                                                                <span class="text-mute">مبلغ</span>
                                                                <strong>{{ order.total|intcomma:False }} تومان</strong>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="order-item-show">
                                                        {% if not order.is_paid %}
                                                            <a href="{% url 'accounts:order_delete' order.id %}"
                                                               class="btn btn-danger text-white m-1" target="_blank">
                                                                حذف سفارش
                                                            </a>
                                                        {% endif %}

                                                        <a href="{% url 'accounts:order_detail' order.order_code %}"
                                                           class="btn btn-info text-white m-1">
                                                            جزییات
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}