{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <div class="container main-container" style="transform: none;">
        <div class="row" style="transform: none;">
            <!-- Start Sidebar -->
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 sticky-sidebar"
                 style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                {% include 'accounts/profile/sidebar.html' %}
                <!-- End Sidebar -->
                <!-- Start Content -->
                <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-info text-center">
                                <p class="m-auto">
                                    در صورتی که پس از ۲ روز از ثبت سفارش کد رهگیری پستی ارسال نشد با <a
                                        href="{% url 'order:order_trace' %}" class="text-danger">ثبت فرم</a> پیگیری
                                    سفارش را ثبت کنید تا
                                    کمتر از ۱ ساعت با شما تماس گرفته شود.
                                </p>
                            </div>
                            <div class="section-title text-sm-title title-wide mb-1 no-after-title-wide dt-sl mb-2 px-res-1">
                                <h2>همه سفارش‌ها</h2>
                            </div>
                            <div class="dt-sl">
                                <div class="table-responsive">
                                    <table class="table table-order">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>شماره سفارش</th>
                                            <th>تاریخ ثبت سفارش</th>
                                            <th>مبلغ کل</th>
                                            <th>مبلغ پست</th>
                                            <th>روش ارسال</th>
                                            <th>عملیات پرداخت</th>
                                            <th>وضعیت مرسوله</th>
                                            <th>جزییات</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for order in paid_orders %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ order.order_code }}</td>
                                                <td>{{ order.created_date|date }} / {{ order.jalali_created_date }}</td>
                                                <td>{{ order.total|intcomma:False }} تومان</td>
                                                <td>{{ order.shipping_price|intcomma:False }} تومان</td>
                                                <td>{{ order.get_shipping_method_display }}</td>
                                                <td><i class="fa fa-check text-success"></i></td>
                                                <td><span class="badge badge-info p-2">{{ order.get_status_display }}</span></td>
                                                <td class="details-link">
                                                    <a href="{% url 'accounts:order_detail' order.order_code %}">
                                                        <i class="mdi mdi-chevron-left"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Content -->
            </div>
        </div>
    </div>
{% endblock %}