{% extends 'base.html' %}
{% load humanize thumbnail %}
{% block content %}
    <div class="container-fluid">
        <!-- start side-menu in mobile -->
        {% include 'accounts/profile/mobile_sidebar.html' %}
        <!-- end side-menu in mobile -->

        <div class="dashboard-panel">
            <div class="row gy-3">
                {% include 'accounts/profile/sidebar.html' %}
                <div class="col-lg-9">
                    <div class="table-responsive-lg table-custom">
                        <form action="{% url 'accounts:change_password' %}" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit" class="btn btn-success btn-block mt-3">
                                ثبت
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}