{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="container main-container" style="transform: none;">
    <div class="row" style="transform: none;">
        <!-- Start Sidebar -->
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 sticky-sidebar"
             style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
            {% include 'accounts/profile/sidebar.html' %}
            <!-- End Sidebar -->
            <!-- Start Content -->
            <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-sm-title title-wide mb-1 no-after-title-wide dt-sl mb-2 px-res-1">
                            <h2>تیکت جدید</h2>
                        </div>
                        <div class="dt-sl">
                            <form class="comment-form row p-2" action="{% url 'ticket:send_ticket' %}"
                                  method="post">
                                {% csrf_token %}
                                <div class="form-group col-lg-12 col-md-12 mt-2">
                                    <input type="text" name="title"
                                           class="form-control col-lg-9 col-md-9 m-auto"
                                           placeholder="عنوان تیکت" maxlength="250"
                                           required>
                                    <textarea class="form-control col-lg-9 col-md-9 m-auto"
                                              style="margin-top: 3px !important;" name="content" rows="8"
                                              placeholder="متن تیکت" required></textarea>
                                </div>
                                <div class="col-lg-9 col-md-9 m-auto">
                                    <button class="btn btn-success btn-block" type="submit">ارسال</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Content -->
        </div>
    </div>
</div>
{% endblock %}
