{% extends 'base.html' %}
{% load static %}
{% block window_title %}{% endblock %}

{% block content %}
    <main class="main-content dt-sl mt-4 mb-3">
        <div class="container main-container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-7 col-12 mx-auto">
                    <div class="logo-area text-center mb-3">
                        <a href="#"><img src="{% static 'img/logo.svg' %}" class="img-fluid" alt="logo"></a>
                    </div>
                    <div class="auth-wrapper form-ui border pt-4">
                        <div class="section-title title-wide mb-1 no-after-title-wide">
                            <h2 class="font-weight-bold">ورود</h2>
                        </div>
                        <form action="{% url 'accounts:login_page' %}" method="post">
                            {% csrf_token %}
                            <div class="form-row-title">
                                <h3>شماره موبایل</h3>
                            </div>
                            <div class="form-row with-icon">
                                {% if login_form.non_field_errors %}
                                    <ol>
                                        {% for error in login_form.non_field_errors %}
                                                <strong class="text-danger">
                                                    {{ error|escape }}
                                                </strong>
                                        {% endfor %}
                                    </ol>
                                {% endif %}


                                {#                                <input type="text" class="input-ui pr-2"#}
                                {#                                       placeholder="ایمیل یا شماره موبایل خود را وارد نمایید">#}
                                {{ login_form.phone_number_form }}
                                <i class="mdi mdi-account-circle-outline"></i>
                            </div>
                            <div class="form-row-title">
                                <h3>رمز عبور</h3>
                            </div>
                            <div class="form-row with-icon">
                                {#                                <input type="password" class="input-ui pr-2" placeholder="رمز عبور خود را وارد نمایید">#}
                                {{ login_form.password_form }}
                                <i class="mdi mdi-lock-open-variant-outline"></i>
                            </div>
                            <button type="button" onclick="myFunction()" class="btn btn-sm btn-info mt-2 text-white">
                                نمایش رمز
                                <i class="bi bi-eye-fill text-white"></i>
                            </button>
                            {#                            <div class="form-row mt-2">#}
                            {#                                <div class="custom-control custom-checkbox float-right mt-2">#}
                            {#                                    <input type="checkbox" class="custom-control-input" id="customCheck3">#}
                            {#                                    <label class="custom-control-label" for="customCheck3">#}
                            {#                                        مرا به خاطر بسپار#}
                            {#                                    </label>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            <div class="form-row mt-3">
                                <button class="btn-primary-cm btn-with-icon mx-auto w-100">
                                    <i class="mdi mdi-login-variant"></i>
                                    ورود به سفیر مارکت
                                </button>
                            </div>
                        </form>
                        <div class="form-footer mt-3">
                            <div>
                                <span class="font-weight-bold">کاربر جدید هستید؟</span>
                                <a href="{% url 'accounts:register_page' %}" class="mr-3 mt-2">ثبت نام در سفیر مارکت</a>
                            </div>
                            <div>
                                <span class="font-weight-bold">رمز عبور خود را فراموش کرده اید؟</span>
                                <a href="{% url 'accounts:forgot_password' %}" class="mr-3 mt-2">بازیابی رمز عبور</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <script>
        function myFunction() {
            var x = document.getElementById("id_password_form");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
{% endblock %}

